<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="description" content="Amaan Gokak - Computer Science student @ UBC">
    <meta name="keywords" content="Portfolio, Website, Resume">
    <meta name="author" content="Amaan Gokak">
    <link rel="icon" href="/favicon.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="/css/styles.css">
    <title>Amaan - {{title}} </title>
    
</head>
<body class={{status}} id="container">
 
    {{{body}}}
    
</body>
</html>